{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {{title}} - Pytube </title>
	<link rel="shortcut icon" href="/media/logo/favicon.png' %}">
	<!-- jQuery -->
	<script src="{% static  'adminlte/plugins/jquery/jquery.min.js' %}"></script>
			
			<meta name="title" content="{{ title }}" />
			<meta name="description" content="{{ description|truncatechars:160 }}" />
			<meta name="keywords" content="{{ keywords }}" />
			<meta name="author" content="{{ author }}" />
			<meta name="robots" content="index, follow">


	<!--CSS Style-===================================================================-->
	<link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<!-- STYLESHEETS : end -->
	<!-- =========================================================================== -->

	{% block extra_css %}
	{% endblock %}
</head>

<body>
	<!-- Message show : -->
	{% include "includes/toast_message.html" %}

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Quizer</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active">
					<a class="nav-link bg-gradient-blue" href="#"> <span class="fa fa-home"></span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="/admin/">Admin LogIn<span class="sr-only">(S/I)</span></a>
				</li>

				

				<li class="nav-item">
					<a class="btn bg-gradient-danger" href="{% url 'user_create_view' %}">Register</a>
				</li>

			

			</ul>
			<!-- Log in Log out -->
			<div class="form-inline my-2 my-lg-0">
				{% include 'dashboard/account/loginpartial.html' %}
			</div>
		</div>
	</nav>

	<main role="main">

		<div class="container-fluid">
			<br><br><br><br>
			{% block content %}

			{% endblock %}
		</div> <!-- /container -->

	</main>

	<footer class="container">
		<p>© Company 2020</p>
	</footer>





	<!-- SCRIPTS : begin -->
	<script src="{% static  'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	{% block scripts %}
	{% endblock %}

</body>

</html>