{% if messages %}
    {% for message in messages %}
         <!-- Then put toasts within -->
         <div class="toast" data-autohide="false" style="position: absolute; top: 0; right: 0;z-index:999!important">

          <div class="toast-header">
            <i  class="fa fa-envelope-open"></i>&nbsp;
            <strong class="mr-auto text-primary">{{ message.extra_tags }}</strong>
            <small class="text-muted">now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
          </div>
          <div class="toast-body "> <!--alert {{message.tags}}  -->
            {{ message }}
          </div>

        </div>
  
    {% endfor %}
{% endif %}

<script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
  </script>